<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Steam Listener</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Nav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse navbar-inverse-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" id="clear"><i class="glyphicon glyphicon-ban-circle"></i> Clear</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</header>
<section id="content" class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div id="console"></div>
        </div>
    </div>
</section>